* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #364ba7;
  --secondary-color: #f583a7;
}
.bg {
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: 600px;
  margin: 20px;
}
.image {
  height: 50px;
  margin-left: 0;
}
#quote {
  text-align: center;
  font-style: italic;
}
.author {
  font-size: 20px;
}
hr {
  margin: 10px 0;
  width: 60%;
  border: 1px solid;
}
.button {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
#generate {
  cursor: pointer;
  border: solid gray;
  font-size: 15px;
  font-weight: 400;
  padding: 6px;
  margin: 10px 15px;
  border-radius: 20px;
}
